@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap");

@import "tailwindcss";

@theme {
  --font-space-grotesk: "Space Grotesk", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-inter-tight: "Inter Tight", sans-serif;

  --color-accent: #111924;
  --color-hover: #1e2939;
}

@media (max-width: 1480px) {
  #page-container {
    flex-direction: column-reverse;
    padding-inline: calc(var(--spacing) * 5) /* 1.25rem = 20px */;
    gap: calc(var(--spacing) * 4) /* 1rem = 16px */;
    margin-bottom: calc(var(--spacing) * 5) /* 1.25rem = 20px */;
  }

  #homeNav {
    margin-bottom: 2rem;
  }

  .hero-text {
    text-align: center;
    font-size: var(--text-8xl) /* 6rem = 96px */;
    line-height: var(--tw-leading, var(--text-8xl--line-height) /* 1 */);
  }
}

/* cards effect */

.swiper-slide-active .card-overlay {
  opacity: 1;
}
